.page-item.active .page-link {
  background-color: #2c97f1 !important;
  border-color: #2c97f1 !important;
  color: #fff !important;
}

.page-link {
  color: #2c97f1 !important;
}

.card-header .btn-link {
  color: #2c97f1 !important;
}